<!-- <widget-demo-video [opened]="isDemoVideoOpened" [videoLink]="demoVideoLink" (close)="closeDemoVideo()"></widget-demo-video> -->
<div class="header">
    <div class="title">{{ pageTitle }}</div>
    <!-- <div class="link-list">
        <div class="link-item" *ngIf="!isDemoBuild && !!demoLink">
            <a title="Демо версия" [routerLink]="" (click)="goToDemo()">Демо версия</a>
        </div>
        <div class="link-item" *ngIf="!!instructionLink">
            <a href="{{ instructionLink }}" title="Инструкции" target="_blank">Инструкции</a>
        </div>
        <div class="link-item" *ngIf="!!demoVideoLink">
            <a href="javascript:;" (click)="openDemoVideo()" title="Демо-ролик">Демо-ролик</a>
        </div>
    </div> -->
</div>
