<div class="section">
    <div class="section-header">
        <div class="section-title">Вклады</div>
        <ui-button [routerLink]="['/new-deposit']" class="brand">Открыть вклад</ui-button>
    </div>
    <div class="section-body">
        <div class="grid grid--container">
            <div
                class="row row--sm-center collection-item"
                [routerLink]="['/deposit/property', deposit.bankSystemId]"
                *ngFor="let deposit of firstDepositsPhysicalPart; let i = index; let iLast = last;"
                [class.not_bottom]="(!activeShowMore || !depositsPhysicalParts || !depositsPhysicalParts.length) && iLast">
                <div class="col col--sm-7 col-1">{{ deposit.name || deposit.productName }}</div>
                <div class="col col--sm-5 text--sm-right">
                    <ui-amount class="amount-sm" [value]="deposit.amount" [currency]="deposit.currency"></ui-amount>
                </div>
            </div>
            <ui-show-more
                *ngIf="activeShowMore"
                (show)="showMore()"
                (hide)="hideMore()"
                [toggle]="toggle">
                <div *ngFor="let part of depositsPhysicalParts; let last = last; let index = index; " [@blindInOut]="toggle"
                     [class.last-item-border]="index === depositsPhysicalParts.length - 1">
                    <div *ngIf="part.length">
                        <div class="row row--sm-center collection-item"
                             [routerLink]="['/deposit/property', deposit.bankSystemId]"
                             *ngFor="let deposit of part; let jIndex = index; let jLast = last">
                            <div class="col col--sm-7 col-1">{{ deposit.name || deposit.productName }}</div>
                            <div class="col col--sm-5 text--sm-right">
                                <ui-amount class="credit amount-sm" [value]="deposit.amount" [currency]="deposit.currency"></ui-amount>
                            </div>
                        </div>
                    </div>
                </div>
            </ui-show-more>
            <div class="no-data-text" *ngIf="!allDepositsPhysicalCount && !isLoading">Нет действующих продуктов.</div>
            <!-- <app-mini-preloader *ngIf="isLoading" class="relative"></app-mini-preloader> -->
        </div>
    </div>
</div>

